@import url(http://fonts.googleapis.com/css?family=Titillium+Web);

html {
font-family: 'Titillium Web', sans-serif;
}


body {
padding: 0; 
margin: 0;
background-color: black;
color: white;
font-size: 10px;

}

#canvasContainer {
	height: 100%;
	width: 100%;
	top:0;
	left:0;
}
